        /* 기본 스타일 */
        * {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header img{
            width:100%;
        }
        .main {
            padding-left:5px;
            margin-top:-70px;
            position: relative; /* 또는 absolute, fixed */
            z-index: 1;
            background-image: url('../img/background.png');
            background-size: 100% auto; /* 너비는 100%, 높이는 비율에 따라 자동 조정 */
            background-repeat: no-repeat;
        }

        .camerabox{
            width:100%;
            displaY:flex;
            justify-content: space-around;

        }
        .camerabox img{
            width:160PX;

            background-color: transparent;

        }

        .main .live{
            border-radius: 20px;
            background-color: #E5644C;
            padding-left : 5px;
            padding-right : 5px;
            padding-bottom:1px;
            margin-left:5px;
            margin-right:5px;

        }

        .main p{
            letter-spacing: 1PX;
            font-family: 'Pretendard-light';
            height:50px;
            font-weight: 500;
            color:white;
            font-size:13px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .camera1{
            position:relative;
            display: flex;
            justify-content: center;
            margin-left: 20px;
            
            
        }

        .camera2{
            position:relative;
            display: flex;
            margin-right: 20px;
            justify-content: center;
            
        }

        .camera1 span{
            font-family: 'Pretendard-regular';
            font-size: 14px;
            color:white;
            position:absolute;
            bottom:30px;
        }
        .camera2 span{
            font-family: 'Pretendard-regular';
            font-size: 14px;
            color:white;
            position:absolute;
            bottom:30px;
        }
        .camera1 .dokdo{
            position:absolute;
            width:50%;
            top: 30%;
            left: 25%;

        }

        .camera2 .kbs{
            width:50%;
            position:absolute;
            top: 30%;
            left: 25%;
        }
        .mainbox{
            padding-top: 10px;
            width:100%;
        }
        .box{
            z-index: 1;
            margin-left:auto;
            margin-right:auto;
            margin-top:5px;
            width:87%;
            background-color: #1E3751;
            border-radius: 8px;

        }
        .box img{
            width:35px;
            padding-top: 10px;
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
        .main .present{
            font-family: 'Pretendard-light';
            font-size: 13px;
            height:30px;
        }
        .logo{
            display:flex;

            justify-content: center;
        }
        .logo img{
            padding-top: 30px;
            padding-bottom: 30px;
            width:90px;
        }

        footer span{
            color:#2F4A66;
            font-size: 9px;
            height:14px;
        }
        footer{
            z-index:0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #081727;
            padding-bottom: 80px;

        }
        footer .mark{
            left:-50PX;
            bottom:0;
            width:80%;
            position: absolute;
            
        }
        /* 모바일용 미디어 쿼리 */
        @media (max-width: 600px) {

        }

        /* 데스크탑 스타일 */
        @media (min-width: 601px) {
            body{
                margin-left:auto;
                margin-right:auto;
                max-width : 600px;
            }
        }